<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524199831667-sj67d1jia8liip9ekfpgpvefannl3oe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524199831667-sj67d1jia8liip9ekfpgpvefannl3oe7</string>
	<key>API_KEY</key>
	<string>AIzaSyCzJqZQhZiW951N2R92aK6dHIvDTUps7rk</string>
	<key>GCM_SENDER_ID</key>
	<string>524199831667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-anniversary.dev.StudySearch</string>
	<key>PROJECT_ID</key>
	<string>studysearch-a492a</string>
	<key>STORAGE_BUCKET</key>
	<string>studysearch-a492a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524199831667:ios:333e48d220547219762206</string>
	<key>DATABASE_URL</key>
	<string>https://studysearch-a492a.firebaseio.com</string>
</dict>
</plist>